.logo{
  width:52px;
  margin-left:45px;
}
.desktop{
  color: #fff;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
}
.text-banner-title{
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  box-sizing: inherit;
}
.images{
  margin-top:3%;
}
.img1Style{
  width:250px;
}
.im{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 90%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.leave-top{
  margin-top: 10%;
}
h6{
  text-transform: uppercase;
}
li{
  list-style-type: none;
}

hr.line{
  border: 1px solid #ddd;
}

.list{
  list-style-type: decimal;
}
input.desktop-searchBar{
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width:100%;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}
.outline{
  border: red;
  background-color: #fff;
  color: "pink";
  font-weight: 500;
}
.outline:hover{
  background-color: #fff;
}
.profile-dropdown-wrapper{
  padding: 25px 20px 15px;
  width: 230px;
}
.men-dropdown-wrapper{
  width: 1150px;
  padding: 25px 20px 15px;
}
.women-dropdown-wrapper{
  width:1150px;
  padding: 25px 20px 15px;
}
.active1:hover{
  border-bottom: 2px solid #e75480 ;
}
.kids-dropdown-wrapper{
  width: 1150px;
  padding: 25px 20px 15px;
}
.home-dropdown-wrapper{
  width: 1150px;
  padding: 25px 20px 15px;
}
.offer-dropdown-wrapper{
  width: 800px;
  padding: 25px 20px 15px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}